<br>
<br><br>
<br>

<div class="paragraph">
<p class="size">
    Welcome to About Page.. <br>
    This webapp prints the text from screen using angular third party library called ngx-print Library.
    and this webapp also generates the qr code and redirects to <b>penske.com</b> website when scanned.
    This webapp also gives all the details of drivers when qr code of a particular driver is scanned.
    and it also fetches the text from screen when scanning a qr code of that particular screen.

</p>
</div>

<!-- <div>
    <label>URL:</label>
    <input [(ngModel)]="url" placeholder="Enter URL" />
    <br><br>
    <label>Method:</label>
    <select [(ngModel)]="method">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
    </select>
  <br><br>
    <label>Body:</label>
    <textarea [(ngModel)]="body" placeholder="Enter body"></textarea>
  <br><br>
    <button (click)="onSubmit()">Send Request</button>
  
    <br><br>
    <div>
      <label>Response:</label>
      <pre>{{ response }}</pre>
    </div>
  </div> -->

















<!-- <div>
    <h1>API Tester</h1>
  
    <form (ngSubmit)="submitForm()">
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" [(ngModel)]="url"><br><br>
  
      <label for="method">Method:</label>
      <select id="method" name="method" [(ngModel)]="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
      </select><br><br>
  
      <label for="headers">Headers:</label>
      <input type="text" id="headers" name="headers" [(ngModel)]="headers"><br><br>
  
      <label for="body">Body:</label>
      <textarea id="body" name="body" [(ngModel)]="body"></textarea><br><br>
  
      <button type="submit">Submit</button>
    </form>
  
    <h2>Response:</h2>
  
    <pre>{{ response | json }}</pre>
  </div> -->



